#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

CFLAGS = -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

CFLAGS += -fstack-protector-all

build: patch build-stamp

build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) CFLAGS="$(CFLAGS)"

	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/thc-ipv6.
	find -maxdepth 1 -perm '-u=x' -type f -exec cp '{}' $(CURDIR)/debian/thc-ipv6/usr/sbin/ \;


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installman debian/thc-ipv6.8
	dh_compress
	dh_link usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/parasite6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/dos-new-ip6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/detect-new-ip6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/fake_router6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/fake_advertise6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/fake_mld6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/fake_mipv6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/redir6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/smurf6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/alive6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/toobig6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/rsmurf6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/sendpees6.8.gz \
		usr/share/man/man8/thc-ipv6.8.gz usr/share/man/man8/test_implementation6.8.gz
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
